.level-0 {
  margin-left: 0;
}

.level-1 {
  margin-left: 8px;
  /* Removed border-left to keep visual inside parent bubble */
}

.level-2 {
  margin-left: 8px;
  /* Removed border-left */
}

.channel-item.level-1,
.channel-item.level-2 {
  padding-left: 8px;
}
